<a href="https://colab.research.google.com/github/BeraAu/CodingEveryday/blob/main/20250221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#391B
n, m = map(int, input().split())
listS = []
listT = []

for i in range(n):
  listS.append(input())  # 文字列として直接入力
for i in range(m):
  listT.append(input())  # 文字列として直接入力

for i in range(n - m + 1):
  for j in range(n - m + 1):
    match = True  # マッチフラグ
    for k in range(m):
      if listS[i + k][j:j + m] != listT[k]:
        match = False
        break
    if match:  # 全てのマッチが成功した場合
      print(i + 1, j + 1)
      exit(0)

3 2
3 2
#.#
..#
##.
.#
#.
1 2
2 2
2 2

In [ ]:
list